@font-face {
  font-family: "SofiaSansExtraCondensed";
  src: local("SofiaSansExtraCondensed"),
    url("./assets/fonts/SofiaSansExtraCondensed-VariableFont_wght.ttf") format("truetype");
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "SofiaSansExtraCondensed", sans-serif;
  font-weight: 400;
}

body::-webkit-scrollbar {
  width: 15px;
}
/* Handle */
body::-webkit-scrollbar-thumb {
  background: #d4cfcf;
  border-radius: 10px;
}
