@font-face {
  font-family: "Sansita";
  src: local("Sansita"),
    url("./assets/fonts/Sansita-Regular.ttf") format("truetype");
}

body {
  margin: 0;
  font-family: 'Sansita', sans-serif;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


